%a{:name => "details"}
%h2.contentheading Agregar modelo
%br
= form_tag(controller: "marcas", action: "agregar_modelo_def", method: "post") do
  .span12{:style => "margin-bottom: 10px"}
    =hidden_field_tag "marcaId",@id_marca
    .span4
      %label{ :style => "margin-bottom: 10px " }  Fabricante 
    .span4
      %label #{@marca.nombre}
    .span4
      %label{ :style => "margin-bottom: 10px " }  Nombre
    .span4
      %input#nombre.inputbox{:name => "nombre", :size => "20", :required=>"", :type => "text", :style => "margin-bottom: 10px; width: 93%;"}
    .span4
      %label{ :style => "margin-bottom: 10px " }  Detección de movimiento
    .span4
      = select_tag :deteccion_movimiento, options_for_select([["No",0],["Si",1]]), { :style => "width: 100%; margin-bottom: 10px ",:id=>"detec" } 
    .span4.escondidos{ :style => "display:none;clear:left;" }  
      %label{ :style => "margin-bottom: 10px ;" }  Ancho máximo de la imágen permitido por la cámara
    .span4.escondidos{ :style => "display:none;" }  
      %input.inputbox{:name => "ancho_maximo", :size => "20", :required=>"", :type => "text", :value => "352", :style => "margin-bottom: 10px;"}
    .span4.escondidos{ :style => "display:none;clear:left;" }  
      %label{ :style => "margin-bottom: 10px;" }  Alto máximo de la imágen permitido por la cámara
    .span4.escondidos{ :style => "display:none;" }  
      %input.inputbox{:name => "alto_maximo", :size => "20", :required=>"", :type => "text", :value => "240", :style => "margin-bottom: 10px;"}
    .span4{ :style => "clear:left;" }
      %label{ :style => "margin-bottom: 10px " }  Rotación
    .span4
      = select_tag :rotacion, options_for_select([["No",0],["Si",1]]), { :style => "width: 100%; margin-bottom: 10px " } 
    .span4
      %label{ :style => "margin-bottom: 10px " }  Controlador
    .span4
      = select_tag "objeto", options_for_select(@controladores), { :style => "width: 100%; margin-bottom: 10px " } 
  .span12
    .btn-group
      = submit_tag "Guardar", {:class =>"btn"}
    .btn-group
      = link_to "Volver", {:action=>"ver_modelos", :id => @id_marca},:class =>"btn"

:javascript
  $(document).ready(function() {
    $("#menu_marcas").addClass("activo");
    $(document).on("change","#detec",function(){
      if($("#detec").val()==0){
        $(".escondidos").fadeOut("fast");
      }else{
        $(".escondidos").fadeIn("fast");
      }
    });
    if($("#detec").val()==0){
        $(".escondidos").fadeOut("fast");
      }else{
        $(".escondidos").fadeIn("fast");
      }
  });                
      